@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.hidden {
  display: none;
}

.visible {
  display: block;
}

h1{
  text-indent: 0.5em;
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

p{
  text-indent: 0.5em;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

body {
  background-color: black;
  font-family: "Ubuntu Mono", monospace;
  color: white;
  margin: 0; 
}

.left-links, .right-links {
  width: 45%;
}

/* Optional: style the links */
a {
  color: #1e90ff;
  text-decoration: none;
  font-family: "Ubuntu Mono", monospace;
}

a:hover {
  color: #1e90ff;
  text-decoration: none;
  font-family: "Ubuntu Mono", monospace;
}

a:visited {
  font-family: "Ubuntu Mono", monospace;
}

