@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.hidden {
  display: none;
}

.visible {
  display: block;
}

h1{
  text-indent: 1em;
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

p{
  font-family: "Ubuntu Mono", monospace;
  text-indent: 1em;
  color: gray;
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: "Ubuntu Mono", monospace;
  font-optical-sizing: auto;
  color: gray;
  font-weight: 400;
  font-style: normal;
}

